# Hello World - CsvToFhir Sample Notebook

This notebook provides a simple example which integrates a JupyterLab notebook with the CsvToFhir development environment.

In [1]:
from linuxforhealth.csvtofhir.pipeline.tasks import add_row_num
import pandas as pd

In [2]:
data_records = {
    "hospitalId": ["hospa"],
    "encounterId": ["ENC1111"],
    "patientId": ["MRN1234"],
    "sex": ["male"],
    "dateOfBirth": ["1951-07-06"],
    "givenName": ["Thomas"],
    "familyName": ["Jones"],
    "ssn": ["123-45-6789"],
    "state": ["MN"]
}

df = pd.DataFrame(data_records)
df = add_row_num(df)
display(df)

,hospitalId,encounterId,patientId,sex,dateOfBirth,givenName,familyName,ssn,state,rowNum
0,hospa,ENC1111,MRN1234,male,1951-07-06,Thomas,Jones,123-45-6789,MN,1